body{
margin: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
zoom: 65%;
background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/background.avif);
background-size: cover;
background-position: 50%;
background-attachment: fixed;
overflow: hidden;

}

.container{
font-size: 0.5vh;
width: 40em;
height: 0em;
position: relative;
display:flex;


@media screen and (min-width: 320px) and (max-width: 360px) {
    font-size: 1vh;
}

@media screen and (min-width: 480px) {
    font-size: 1vh; 
}
}

.earth, .moon, .mercury, .venus, 
.mars, .phobos, .deimos, .ceres, .jupiter, 
.saturn, .uranus, .neptune,
.pluto, .haumea, .makemake, .eris{
position: absolute;
border-style: solid;
border-color: rgb(255, 255, 255) transparent transparent transparent;
border-width: 0.1em 0.1em 0 0;
border-radius: 50%;
}

.earth::before, .moon::before, .mercury::before,
 .venus::before, .mars::before, .phobos::before,
  .deimos::before, .ceres::before, .jupiter::before, .saturn::before, .srings::before,
   .uranus::before, .urings::before, .neptune::before,
   .pluto::before, .haumea::before, .makemake::before, .eris::before{
content: '';
position: absolute;
border-radius: 50%;
}

/* SUN */
.sun{
position: absolute;
top: 15em;
left: 15em;
width: 12em;
height: 12em;
border-radius: 50%;
box-shadow: 0 0 3em rgb(235, 125, 36);
background-image: url(images/sun.gif);
background-position: 50%;
background-size: 9.2vh;

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 30vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 30vh
}
}

/* MERCURY */
.mercury{
top: 13.5em; /* PLANET OFFSET FROM CENTER */
left:13.5em; /* PLANET OFFSET FROM CENTER*/
width: 15em; /* ORBIT SIZE */
height: 15em; /* ORBIT SIZE */
animation: orbit 4.0s linear infinite;
}

.mercury::before{
top: 1.5em;
right: 1.5em;
width: 1.4em; /* PLANET SIZE */
height: 1.4em; /* PLANET SIZE */
background-image: url(images/mercury.gif);
background-position: 50%;
background-size: 0.75vh;
box-shadow: 0 0 3em rgb(167, 167, 167);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 2.3vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 2.3vh
}
}
/* VENUS */
.venus{
top: 9.75em; /* PLANET OFFSET FROM CENTER */
left:9.75em; /* PLANET OFFSET FROM CENTER*/
width: 22.5em; /* ORBIT SIZE */
height: 22.5em; /* ORBIT SIZE */
animation: orbit 10.23s linear infinite;
}

.venus::before{
top: 2em;
right: 2em;
width: 2.8em; /* PLANET SIZE */
height: 2.8em; /* PLANET SIZE */
background-image: url(images/venus.gif);
background-position: 50%;
background-size: 1.3vh;
box-shadow: 0 0 3em rgb(252, 157, 68);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 4vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 4vh
}
}

/* EARTH */
.earth{
top: 6em; /* PLANET OFFSET FROM CENTER*/
left: 6em; /* PLANET OFFSET FROM CENTER*/
width: 30em; /* ORBIT SIZE */
height: 30em; /* ORBIT SIZE */
animation: orbit 16.60s linear infinite;
}

.earth::before{
top: 2.8em;
right: 2.8em;
width: 3em; /* PLANET SIZE */
height: 3em; /* PLANET SIZE */
background-image: url(images/earth.gif);
background-position: 50%;
background-size: 1.2vh;
box-shadow: 0 0 3em rgb(77, 133, 255);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 3.3vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 3.3vh
}
}

/* MOON */
.moon{
top: 2.25em; /* PLANET OFFSET FROM CENTER */
right: 2.25em; /* PLANET OFFSET FROM CENTER */
width: 4em; /* ORBIT SIZE */
height: 4em; /* ORBIT SIZE */
animation: orbit 1.25s linear infinite;
}

.moon::before{
top: 0em;
right: 0em;
width: 1em; /* PLANET SIZE */
height: 1em; /* PLANET SIZE */
background-image: url(images/moon.gif);
background-position: 50%;
background-size: 0.4vh;

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 3.3vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 3.3vh
}
}

/* MARS */
.mars{
top: 2em; /* PLANET OFFSET */
left: 2em; /* PLANET OFFSET*/
width: 38em; /* ORBIT SIZE */
height: 38em; /* ORBIT SIZE */
animation: orbit 31.23s linear infinite;
}

.mars::before{
top: 4.75em;
right: 4.75em;
width: 1.6em; /* PLANET SIZE */
height: 1.6em; /* PLANET SIZE */
background-image: url(images/mars.gif);
background-position: 50%;
background-size: 0.9vh;
box-shadow: 0 0 3em rgb(255, 0, 0);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 2.5vh;
}

@media screen and (min-width: 480px){
    background-position: 50%;
    background-size: 2.5vh;
}
}

/* PHOBOS */

.phobos{
top: 4.5em; /* PLANET OFFSET FROM CENTER*/
right: 4.5em; /* PLANET OFFSET FROM CENTER*/
width: 2em; /* ORBIT SIZE */
height: 2em; /* ORBIT SIZE */
animation: orbit 0.7s linear infinite;
}

.phobos::before{
top: 0em;
right: 0em;
width: 0.006em; /* PLANET SIZE */
height: 0.006em; /* PLANET SIZE */
background-color: rgb(126, 126, 126);

@media screen and (min-width: 320px) and (max-width: 360px) {
    top: -1vh;
    right: -1vh;
}

@media screen and (min-width: 480px) {
    top: -1vh;
    right: -1vh;
}
}

/* DEIMOS */
.deimos{
top: 4.3em; /* PLANET OFFSET FROM CENTER*/
right: 4.3em; /* PLANET OFFSET FROM CENTER*/
width: 2.4em; /* ORBIT SIZE */
height: 2.4em; /* ORBIT SIZE */
animation: counterorbit 1.2s linear infinite;
}

.deimos::before{
top: 0em;
right: 0em;
width: 0.003em; /* PLANET SIZE */
height: 0.003em; /* PLANET SIZE */
background-color: rgb(255, 255, 255);
}

.asteroidbelt1{
    border-color: gray;
    border-style: dotted;
    top: -1vh;
    right: -2vh;
    width: 44em;
    height: 44em;
    border-radius: 50%;
    background-color: transparent;
    animation: orbit 36.2s linear infinite;
    position: absolute;

    @media screen and (min-width: 320px) and (max-width: 360px) {
        top: -1.5vh;
        right: -3.5vh;
    }

    @media screen and (min-width: 480px) {
        top: -1.5vh;
        right: -3.5vh;
    }
}

.asteroidbelt2{
    border-color: gray;
    border-style: dotted;
    top: -1.5vh;
    right: -2.5vh;
    width: 46em;
    height: 46em;
    border-radius: 50%;
    background-color: transparent;
    animation: orbit 44.2s linear infinite;
    position: absolute;

    @media screen and (min-width: 320px) and (max-width: 360px) {
        top: -2.5vh;
        right: -4.5vh;
    }

    @media screen and (min-width: 480px) {
        top: -2.5vh;
        right: -4.5vh;
    }
}

.asteroidbelt3{
    border-color: gray;
    border-style: dotted;
    top: -2vh;
    right: -3vh;
    width: 48em;
    height: 48em;
    border-radius: 50%;
    background-color: transparent;
    animation: orbit 52.2s linear infinite;
    position: absolute;

    @media screen and (min-width: 320px) and (max-width: 360px) {
        top: -3.5vh;
        right: -5.5vh;
    }

    @media screen and (min-width: 480px) {
        top: -3.5vh;
        right: -5.5vh;
    }
}

/*CERES*/
.ceres{
top: -3em; /* PLANET OFFSET FROM CENTER*/
left: -2.5em; /* PLANET OFFSET FROM CENTER*/
width: 47em; /* ORBIT SIZE */
height: 47em; /* ORBIT SIZE */
animation: orbit 76.36s linear infinite;
}

.ceres::before{
top: 6.25em;
right: 6.5em;
width: 0.8em; /* PLANET SIZE */
height: 0.8em; /* PLANET SIZE */
background-image: url(images/ceres.gif);
background-position: 50%;
background-size: 0.4vh;
box-shadow: 0 0 3em rgb(168, 168, 168);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 52%;
    background-size: 1.1vh
}
    
@media screen and (min-width: 480px){
    background-position: 52%;
    background-size: 1.1vh
}
}

/*JUPITER*/
.jupiter{
top: -9em; /* PLANET OFFSET FROM CENTER*/
left: -9em; /* PLANET OFFSET FROM CENTER*/
width: 60em; /* ORBIT SIZE */
height: 60em; /* ORBIT SIZE */
animation: orbit 197s linear infinite;
}

.jupiter::before{
top: 6em;
right: 6em;
width: 6em; /* PLANET SIZE */
height: 6em; /* PLANET SIZE */
background-image: url(images/jupiter.gif);
background-position: 50%;
background-size: 2vh;
box-shadow: 0 0 3em rgb(199, 184, 155);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 6vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 6vh
}
}

/*SATURN*/
.saturn{
top: -16em; /* PLANET OFFSET FROM CENTER*/
left: -16em; /* PLANET OFFSET FROM CENTER*/
width: 74em; /* ORBIT SIZE */
height: 74em; /* ORBIT SIZE */
animation: orbit 489.10s linear infinite;
}

.saturn::before{
top: 8.5em;
right:8.5em;
width: 5em; /* PLANET SIZE */
height: 5em; /* PLANET SIZE */
background-image: url(images/saturn.gif);
background-position: 50%;
background-size: 2.5vh;
box-shadow: 0 0 3em rgb(230, 209, 172);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 48%;
    background-size: 7.5vh
}

@media screen and (min-width: 480px) {
    background-position: 48%;
    background-size: 7.5vh
}
}

.srings::before{
top: 10.75em;
right:6em;
width: 10em; /* PLANET SIZE */
height: 1em; /* PLANET SIZE */
background: white;
opacity: 50%;
box-shadow: 0 0 3em rgb(230, 209, 172);
}

/*URANUS*/
.uranus{
top: -24em; /* PLANET OFFSET FROM CENTER*/
left: -24em; /* PLANET OFFSET FROM CENTER*/
width: 90em; /* ORBIT SIZE */
height: 90em; /* ORBIT SIZE */
animation: orbit 1394.87s linear infinite;
}

.uranus::before{
top: 11em;
right:11em;
width: 4.6em; /* PLANET SIZE */
height: 4.6em; /* PLANET SIZE */
background-image: url(images/uranus.gif);
background-position: 49%;
background-size: 5vh;
box-shadow: 0 0 3em rgb(112, 216, 235);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 48%;
    background-size: 15.5vh
}

@media screen and (min-width: 480px) {
    background-position: 48%;
    background-size: 15.5vh
}
}

.urings::before{
top: 9.75em;
right:12.75em;
width: 1em; /* PLANET SIZE */
height: 7em; /* PLANET SIZE */
background: white;
opacity: 10%;
box-shadow: 0 0 3em rgb(230, 209, 172);
}

/*NEPTUNE*/
.neptune{
top: -32em; /* PLANET OFFSET FROM CENTER*/
left: -32em; /* PLANET OFFSET FROM CENTER*/
width: 105em; /* ORBIT SIZE */
height: 105em; /* ORBIT SIZE */
animation: orbit 2735.90s linear infinite;
}

.neptune::before{
top: 13em;
right:13em;
width: 4.6em; /* PLANET SIZE */
height: 4.6em; /* PLANET SIZE */
background-image: url(images/neptune.gif);
background-position: 50%;
background-size: 1.6vh;
box-shadow: 0 0 3em rgb(98, 132, 226);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 5vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 5vh
}
}


/* PLUTO */
.pluto{
top: -35em; /* PLANET OFFSET FROM CENTER*/
left: -62.5em; /* PLANET OFFSET FROM CENTER*/
width: 150em; /* ORBIT SIZE */
height: 110em; /* ORBIT SIZE */
animation: orbit 4116.36s linear infinite;
}

.pluto::before{
top: 18em;
right: 18.5em;
width: 1em; /* PLANET SIZE */
height: 1em; /* PLANET SIZE */
background-image: url(images/pluto.gif);
background-position: 50%;
background-size: 0.45vh;
box-shadow: 0 0 1em rgb(218, 218, 218);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 1.4vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 1.4vh
}
}

.haumea{
top: -30em; /* PLANET OFFSET FROM CENTER*/
left: -62.5em; /* PLANET OFFSET FROM CENTER*/
width: 160em; /* ORBIT SIZE */
height: 115em; /* ORBIT SIZE */
animation: orbit 4674.55s linear infinite;
}

.haumea::before{
top: 19.25em;
right: 19.25em;
width: 1em; /* PLANET SIZE */
height: 0.5em; /* PLANET SIZE */
background-image: url(images/haumea.gif);
background-position: 50%;
background-size: 0.6vh;
transform: rotate(-45deg);
box-shadow: 0 0 1em rgb(218, 218, 218);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-position-y: 45%;
    background-size: 1.5vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-position-y: 45%;
    background-size: 1.5vh
}
}

/* MAKEMAKE */
.makemake{
top: -35em; /* PLANET OFFSET FROM CENTER*/
left: -75em; /* PLANET OFFSET FROM CENTER*/
width: 170em; /* ORBIT SIZE */
height: 120em; /* ORBIT SIZE */
animation: orbit 5038.18s linear infinite;
}

.makemake::before{
top: 20.5em;
right: 20.5em;
width: 0.4em; /* PLANET SIZE */
height: 0.4em; /* PLANET SIZE */
background-image: url(images/makemake.gif);
background-position: 50%;
background-size: 0.2vh;
box-shadow: 0 0 1em rgb(218, 218, 218);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 0.4vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 0.4vh
}
}

/* ERIS */
.eris{
top: -35em; /* PLANET OFFSET FROM CENTER*/
left: -80em; /* PLANET OFFSET FROM CENTER*/
width: 180em; /* ORBIT SIZE */
height: 125em; /* ORBIT SIZE */
animation: orbit 6854.55s linear infinite;
}

.eris::before{
top: 21.6em;
right: 21.5em;
width: 0.3em; /* PLANET SIZE */
height: 0.3em; /* PLANET SIZE */
background-image: url(images/eris.gif);
background-position: 50%;
background-size: 0.25vh;
box-shadow: 0 0 1em rgb(218, 218, 218);

@media screen and (min-width: 320px) and (max-width: 360px) {
    background-position: 50%;
    background-size: 0.6vh
}

@media screen and (min-width: 480px) {
    background-position: 50%;
    background-size: 0.6vh
}
}


@keyframes orbit{ 
    to {
transform: rotate(360deg);
    }
}

@keyframes counterorbit{ 
    to {
transform: rotate(-360deg);
    }
}

